<div class="content-edit">
<% counter = 0 %>
  <div>
    <h2 class ="pt-4"style="text-align: center;">Nearby activities</h2>
    <div class=cards>
      <% @venue_hash.each do |venue| %>

        <% counter += 1 %>
        <div class="card">

          <%= image_tag venue[:photo], alt: "Card image cap", class: "card-img-top"  %>

          <div class="card-body">
            <div class="card-info">
              <h5><%= venue[:name] %></h5>
              <p><em><%= venue[:categories]&.humanize %></em></p>
            </div>
            <div class="more-info">
              <p> <%= venue[:rating] %> <i class="far fa-star"></i> </p>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter<%= counter %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><%= venue[:name] %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p> Address: <%= venue[:address] %></p>
                <p style="color: <%= venue_color(venue[:open_boolean]) %>"><%= venue[:open_boolean] %></p>
                <p> Pricing: <strong><%= venue[:price] %></strong> </p>
              </div>
              <div class="modal-footer">
                <%= link_to "Confirm", midway_path(@midway.id, address: venue[:address], name: venue[:name], photo_url: venue[:photo], categories: venue[:categories], lat: venue[:lat], lng: venue[:lng] ), method: :patch, class: "btn" %>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>


  <div id="map"
     data-markers="<%= @markers.to_json %>"
     data-midpoint="<%= @midpoint_hash.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>






