<% @title="Midway Confirmation" %>
<div class="main-container mt-3">

  <div class="title">
    <h2>
    Midway between
    <% if @midway.midway_participants.count == 2 %>
      <%= User.find(@midway.midway_participants.first.user_id).first_name %> &
      <%= User.find(@midway.midway_participants.last.user_id).first_name %>
    <% elsif @midway.midway_participants.count > 2 %>
      <%= User.find(@midway.midway_participants.first.user_id).first_name %>,
      <% @midway.midway_participants[1..-3].each do |participant| %>
        <%= User.find(participant.user_id).first_name%>,
      <% end %>
      <%= User.find(@midway.midway_participants[-2].user_id).first_name %>
      & <%= User.find(@midway.midway_participants.last.user_id).first_name %>
    <% end %>
      is <%= @midway.venue.name %>
    </h2>
  </div>



  <div id="map-show"
       style="width: 100%; height: 350px;"
       data-markers="<%= @markers.to_json %>"
       data-midpoint="<%= @midpoint_hash.to_json %>"
       data-venue="<%= @venue_hash.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <%# show styling in pages/show.css %>

  <div class="show-container mb-3">

    <div class="card-container" >
      <h2 class="card-title">Your midway venue:</h2>

        <%= image_tag @midway.venue.photo_url, class: "venue_photo" %>
      <div class="venue_info">
        <%# wait for card styling %>

        <h4><%= @midway.venue.name %></h4>
      </div>

    </div>

    <div class="directions-container">
      <h2 class="card-title">Travel to midway:</h2>

      <%# figure out to use Google Directions API %>

      <%#= participants.each do |participant| %>
<!--         <a href="googleURL#{participant.lat/lng}" class="avatar">
          <img src="participant.photo" alt="">
        </a> -->
      <%# end %>

    <%# @participants.each do |participant| %>
    <%#= participant.user %>
    <%# end %>

    </div>

    <div class="share-container">
      <h2 class="card-title">Share:</h2>
        <div class="card-content">
          <div class="social-container">
            <div class="social-element">
              <%= link_to "https://wa.me/?text=Join%20our%20midway%20at%20https://www.mid-way.co.uk/midways/#{@midway.id}", target: "_blank", rel: "nofollow" do %>
                <i class="fab fa-whatsapp"></i>
              <% end %>
            </div>
            <div class="social-element">
              <%= link_to "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.mid-way.co.uk%2Fmidways%2F#{@midway.id}%2F&display=popup&ref=plugin&src=like&kid_directed_site=0&app_id=113869198637480", target: "_blank", rel: "nofollow" do %>
                <i class="fab fa-facebook-messenger"></i>
              <% end %>
            </div>

            <%#= this creates a string of all the emails separated by a comma %>
            <% @emails = "" %>
            <% @participants.each do |participant| %>
              <% @emails = @emails + ", " + participant.user.email %>
            <% end %>

            <div class="social-element">
              <%= mail_to @emails, subject: "Join our Midway", body: "Hey it's #{@midway.user.first_name}, join us at https://www.mid-way.co.uk/midways/#{@midway.id}. See you there!" do %>
              <i class="fas fa-envelope" id="mail-icon"></i>
              <% end %>
            </div>
            <div class="social-element">
              <i class="fas fa-share-alt"></i>
            </div>
          </div>
      </div>
      <%# font awesome icons and a share link that is identical for all %>
    </div>

  </div>

</div>
