<div class="main-container">

  <div id="map-show"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-midpoint="<%= @midpoint_hash.to_json %>"
       data-venue="<%= @venue_hash.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <%# show styling in pages/show.css %>

  <div class="show-container">

    <div class="card-container">
      <div class="venue_info" style="background-color: white;">
        <%# wait for card styling %>
        <p><%= @venue_info["name"] %></p>

        <% if @venue_info["contact"] && @venue_info["contact"]["phone"] %>
          <p><%= @venue_info["contact"]["phone"] %></p>
        <% end %>

        <% if @venue_info["postalCose"] %>
          <p><%= @venue_info["postalCode"] %></p>
        <% end %>

        <% if @venue_info["url"] %>
          <p><%= @venue_info["url"] %></p>
        <% end %>
      </div>

    </div>

    <div class="directions-container">
      <%# figure out to use Google Directions API %>

      <%#= participants.each do |participant| %>
        <a href="googleURL#{participant.lat/lng}" class="avatar">
          <img src="participant.photo" alt="">
        </a>
      <%# end %>

    </div>

    <div class="share-container">
      <%# font awesome icons and a share link that is identical for all %>
    </div>

  </div>

</div>
