<% @title="My Midway Confirmation" %>
<div class="main-container" style="width:100% !important;">

  <div class="show-container mb-3">

      <div id="map-show"
       style="width: 100%; height: 100vh;"
       data-markers="<%= @markers.to_json %>"
       data-midpoint="<%= @midpoint_hash.to_json %>"
       data-venue="<%= @venue_hash.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="right-container">

    <!-- This is the title div -->
  <div class="title">
    <h2>
    Midway <span style="color:white;">between</span>
    <% @participants = @midway.midway_participants %>
    <% participant_names = [] %>
    <% @participants.each do |participant| %>
      <% participant_names.push(participant.user.first_name) if participant.user %>
      <% participant_names.push(participant.guest.name) if participant.guest %>
    <% end %>

    <% if participant_names.count == 2 %>
      <%= participant_names[0] %> <span style="color:white;">&</span>
      <%= participant_names[1] %>
    <% elsif participant_names.count > 2 %>
      <%= participant_names[0] %>,
      <% participant_names[1..-3].each do |name| %>
        <%= name %>,
      <% end %>
      <%= participant_names[-2] %>
      <span style="color:white;">&</span> <%= participant_names[-1] %>
    <% end %>
      <span style="color:white;">is</span> 
    </h2>
    <h1><%= @midway.venue.name %></h1>
  </div>



  <!-- This is the card showing the venue -->

    <div class="div" style=" padding-left: 20px; padding-right: 20px;" >

      <div class="venue-card">
        <div class="venue-image">
        <%= image_tag @midway.venue.photo_url, class: "venue_photo" %>
        </div>
      <div class="venue-card-body">
        <%# wait for card styling %>
        <h5><%= @midway.venue.name %></h5>
        <div class="venue-card-info">
        <p><%= @midway.venue.address %></p>
        <p><%= @midway.venue_type.capitalize %></p>
        </div>
      </div>
      </div>
    </div>

    <!-- This is the div for the traveltimes for each user -->
    <div class="directions-container">
      <h2 class="card-title" style=" padding: 30px 20px 20px 20px;">Travel <span style="color:white;">there</span>:</h2>

      <div class="card-content">
        <div class="users-grid">
          <% @participants.each do |participant| %>
          <% if participant.user %>
              <div class="users-item user-button" data-duration="<%= participant.duration_to_midpoint %>" data-walk="<%= participant.walk_to_midpoint %>" data-drive="<%= participant.drive_to_midpoint %>" data-lat="<%= participant.user.lat %>" data-lng="<%= participant.user.lng %>" data-venuelat="<%= @midway.venue.lat %>" data-venuelng="<%= @midway.venue.lng %>" data-location="<%= u participant.user.location %>">
                  <%= image_tag participant.user.photo, gravity: :face, class: "avatar-navbar" %>
                  <p> <%= participant.user.first_name %></p>
              </div>
            <% else %>
              <div class="users-item user-button" data-duration="<%= participant.duration_to_midpoint %>" data-walk="<%= participant.walk_to_midpoint %>" data-drive="<%= participant.drive_to_midpoint %>" data-lat="<%= participant.guest.lat %>" data-lng="<%= participant.guest.lng %>" data-venuelat="<%= @midway.venue.lat %>" data-venuelng="<%= @midway.venue.lng %>" data-location="<%= u participant.guest.location %>">
                  <%= image_tag "user.png", gravity: :face, class: "avatar-navbar" %>
                  <p> <%= participant.guest.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="back-button-div">
          <button type="button" class="btn btn-sm" id="back-button" style="display: none;" >Back</button>
        </div>
      </div>
    </div>

    <!-- share container -->

    <div class="share-container ">
       <h2 class="card-title" style=" padding: 30px 20px 20px 20px;">Share <span style="color:white;">your</span> Midway:</h2>
          <div class="social-container">
            <div class="social-element border-right">
              <%= link_to "https://wa.me/?text=Join%20our%20midway%20at%20https://www.mid-way.co.uk/midways/#{@midway.id}", target: "_blank", rel: "nofollow" do %>
                <i class="fab fa-whatsapp"></i>
              <% end %>
            </div>
            <div class="social-element border-right">
              <%= link_to "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.mid-way.co.uk%2Fmidways%2F#{@midway.id}%2F&display=popup&ref=plugin&src=like&kid_directed_site=0&app_id=113869198637480", target: "_blank", rel: "nofollow" do %>
                <i class="fab fa-facebook-messenger"></i>
              <% end %>
            </div>
            <%#= this creates a string of all the emails separated by a comma %>
            <% @emails = "" %>
            <% @participants.each do |participant| %>
              <% if participant.user %>
                <% @emails = @emails + ", " + participant.user.email %>
              <% end %>
            <% end %>
            <div class="social-element">
              <%= mail_to @emails, subject: "Join our Midway", body: "Hey it's #{@midway.user.first_name}, join us at https://www.mid-way.co.uk/midways/#{@midway.id}. See you there!" do %>
              <i class="fas fa-envelope" id="mail-icon"></i>
              <% end %>
            </div>
            <div class="social-element border-left">
              <button id="share-button">
                <i class="fas fa-copy"></i>
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  function renderUsersAndTravel() {
    // User button and response
    var userButtonsArray = document.querySelectorAll('.user-button');
    // console.log(userButtonsArray)
    var originalHTML = document.querySelector('.users-grid').innerHTML;
    var backButton = document.querySelector("#back-button");
    userButtonsArray.forEach(function(button) {
      button.addEventListener('click', function(event) {
      // console.log(event.target.parentElement);
      var durationToMidpoint = button.dataset.duration;
      var walkToMidpoint = button.dataset.walk;
      var driveToMidpoint = button.dataset.drive;
      var lat = button.dataset.lat;
      var lng = button.dataset.lng;
      var venueLat = button.dataset.venuelat;
      var venueLng = button.dataset.venuelng;
      var location = button.dataset.location;
      // console.log(location)
      var changeThis = document.querySelector('.users-grid');
      // console.log(changeThis)
      changeThis.innerHTML = `

              <a href="https://www.google.com/maps/dir/?api=1&origin=${location}&destination=${venueLat},${venueLng}&travelmode=transit" target="_blank", rel="nofollow">
              <div class="travel-item">
                <i class="fas fa-subway"></i> <p> ${durationToMidpoint} </p>
              </div>
              </a>

              <a href="https://www.google.com/maps/dir/?api=1&origin=${location}&destination=${venueLat},${venueLng}&travelmode=walking" target="_blank", rel="nofollow">
              <div class="travel-item">
                <i class="fas fa-walking"></i> <p> ${walkToMidpoint} </p>
              </div>
              </a>

              <a href="https://www.google.com/maps/dir/?api=1&origin=${location}&destination=${venueLat},${venueLng}&travelmode=driving" target="_blank", rel="nofollow">
              <div class="travel-item">
                <i class="fas fa-car"></i> <p> ${driveToMidpoint} </p>
              </div>
              </a>

            <%=link_to "https://m.uber.com/ul/?client_id=%3CCLIENT_ID%3E&action=setPickup&pickup=my_location&dropoff%5Blatitude%5D=#{@midway.venue.lat}&dropoff[longitude]=#{@midway.venue.lng}&dropoff[nickname]=#{@midway.venue.name}&product_id=a1111c8c-c720-46c3-8534-2fcdd730040d", target: "_blank", rel: "nofollow" do %>
              <div class="travel-item" style="background: black;">
                <i class="fab fa-uber"></i> <p> ${driveToMidpoint} </p>
              </div>
            <% end %>`
      backButton.style.display = "";
      });
    });

    backButton.addEventListener('click', function(event) {
      // console.log("test");
      var changeThis = document.querySelector('.users-grid');
      // console.log(originalHTML);
      changeThis.innerHTML = originalHTML;
      backButton.style.display = "none";
      renderUsersAndTravel();
    });
  };

  renderUsersAndTravel();

  // copy to Clipboard function
  function copyTextToClipboard(text) {
    var textArea = document.createElement("textarea");
    textArea.style.position = 'fixed';
    textArea.style.top = 0;
    textArea.style.left = 0;
    textArea.style.width = '2em';
    textArea.style.height = '2em';
    textArea.style.padding = 0;
    textArea.style.border = 'none';
    textArea.style.outline = 'none';
    textArea.style.boxShadow = 'none';
    textArea.style.background = 'transparent';
    textArea.value = text;

    document.body.appendChild(textArea);
    textArea.focus();
    textArea.select();

    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
      console.log('Copying text command was ' + msg);
    } catch (err) {
      console.log('Oops, unable to copy');
    }

    document.body.removeChild(textArea);
  }

  var shareButton = document.querySelector('#share-button');
  var firstName = '<%= @midway.user.first_name %>';
  var id = '<%= @midway.id %>';

  shareButton.addEventListener('click', function(event) {
    copyTextToClipboard(`Hey its ${firstName}, join us at https://www.mid-way.co.uk/midways/${id}. See you there! `);
  });

</script>
