<div class="main-container">
  <div class="grid-friends">
    <div class="current-friends">
      <h1 class="border-bottom"><%= current_user.first_name %>'s friends </h1>

      <% @friends.each do |friendship| %>
        <% if friendship.user_id == current_user.id %>
          <div class="friend border-bottom">
            <p>
              <%= image_tag friendship.friend.photo, gravity: :face, class: "avatar" %>
              <%= friendship.friend.first_name %> <%= friendship.friend.last_name %>
            </p>

          </div>
        <% else friendship.friend_id == current_user.id %>
          <div class="friend border-bottom">
            <p>
              <%= image_tag friendship.user.photo, gravity: :face, class: "avatar" %>
              <%= friendship.user.first_name %> <%= friendship.user.last_name %>
            </p>

          </div>
        <% end %>
      <% end %>
      </div>

    <div class="not-friends">
      <h1 class="border-bottom">Add a friend</h1>

      <% @not_friends.each do |stranger| %>

          <div class="friend border-bottom">
            <p>
              <%= image_tag stranger.photo, gravity: :face, class: "avatar" %>
              <%= stranger.first_name %> <%= stranger.last_name %>
            </p>

            <div class="add">
              <%= link_to user_friendships_path(stranger.id), method: :post  do%>
                <i class="fas fa-user-plus"></i>
              <% end %>
            </div>

          </div>


      <% end %>
    </div>
  </div>
</div>
