<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-midway">
  <%= link_to dashboard_path, class: "navbar-brand " do %>
    <%= image_tag "logo_grey.png", style: "width: 150px;"%>
  <% end %>
</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <div class="nav-link"> <p> <strong><%= current_user.first_name %> <%= current_user.last_name %></strong> </p></div>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag current_user.photo, gravity: :face, class: "menu-control-open avatar-navbar dropdown-toggle", id: "menuControlOpen", 'aria-haspopup': true, 'aria-expanded': false %>
      </li>
    </ul>
  </div>
</div>

<!-- Slide in Menu -->
  <div id="menuBody">
    <header>
      <div class="menu">
          <div class="menu-inner">
              <span class="menu-control-close" id="menuControlClose"><i class="fas fa-times"></i></span>
              <div class="menu-text">
                <%= image_tag "logo_teal.png", class: "image-menu"%>
                <nav>
                    <%= link_to new_midway_path, class: "dropdown-item" do %>
                      <p><i class="fas fa-plus-square pr-2"></i> New Midway</p>
                    <% end %>
                    <%= link_to user_profile_path(current_user.id), class: "dropdown-item" do %>
                      <p><i class="fas fa-cog pr-2"></i> My Profile</p>
                    <% end %>
                    <%= link_to friends_path, class: "dropdown-item" do %>
                    <p> <i class="fas fa-users pr-2"></i> My Friends </p>
                    <% end %>
                    <%= link_to my_midways_path, class: "dropdown-item" do %>
                    <p> <i class="fas fa-road pr-2"></i> My Midways </p>
                    <% end %>
                    <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                    <p> <i class="fas fa-sign-out-alt pr-2"></i> Logout </p>
                    <% end %>
                </nav>
              </div>
          </div>
      </div>
    </header>
  </div>
