<!DOCTYPE html>
<html>
  <head>
    <title>Midway</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  </head>


    <body >
    <% if @navbar_visible %>
      <%=render 'shared/navbar' %>
    <% end %>

    <p class="notice mb-0"><%= notice %></p>
    <p class="alert mb-0"><%= alert %></p>

    <div class="yield-container">
    <%= yield %>
    </div>

    <%= render "shared/footer" %>
  </body>

</html>

  <style>
    <% unless controller_name == "midways" && action_name == "edit" || action_name == "show" %>
    body {
     background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("https://images.unsplash.com/photo-1478860409698-8707f313ee8b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80");
     background-size: cover;
    }
    <% end %>
    <%unless action_name == "home" %>
    .yield-container {
      min-height: calc(100vh - 75px);
    }
    <% end %>
  </style>

